<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Description -->
  <meta name="description" content="{{ site.description }}"/>

  <!-- Title -->
  <title>
    {{ site.tagline }}
  </title>

  <!-- Favicon -->

  <!-- Fonts -->

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
</head>
