// Wrappers
/////////////////////////////////////////////////////
.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: $gutter-2 auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap : $gutter;
  @include break-at('small') {
    margin: $gutter auto;
    grid-column-gap: $gutter-half;
    grid-row-gap : $gutter-half;
  }
}

// Grid
/////////////////////////////////////////////////////
.col-4 {
  grid-column: span 4;
  &-right {
    grid-column: 9 / span 4;
  }
  &-center {
    grid-column: 5 / span 4;
  }
}

.col-5 {
  grid-column: span 5;
  @include break-at('small') {
    grid-column: span 12;
  }
}

.col-6 {
  grid-column: span 6;
  @include break-at('small') {
    grid-column: span 12;
  }
}

.col-7 {
  grid-column: span 7;
  @include break-at('small') {
    grid-column: span 12;
  }
}

.col-12 {
  grid-column: span 12;
}

// Masthead
/////////////////////////////////////////////////////
.masthead__tagline {
  z-index: 999;
  position: relative;
  @include break-at('medium') {
    grid-column: span 12;
  }
}

.masthead__blurb {
  z-index: 999;
  position: relative;
  margin-top: $gutter;
  @include break-at('medium') {
    margin-top: 0;
    grid-column: span 7;
  }
  @include break-at('small') {
    grid-column: span 12;
  }
}

.masthead__img {
  margin-top: -$gutter-10;
  z-index: 0;
  max-height: 800px;
  overflow: hidden;
  @include break-at('medium') {
    margin-top: -$gutter-6;
  }
  @include break-at('small') {
    margin-top: -$gutter-3;
  }
  img {
    vertical-align: middle;
  }
}

// FAQ
/////////////////////////////////////////////////////
.faq__question {
  margin-top: $gutter;
  @include break-at('small') {
    margin-top: $gutter;
  }
}

.faq__answer {
  margin-top: $gutter;
  @include break-at('small') {
    margin-top: 0;
  }
}

// Contact
/////////////////////////////////////////////////////
.contact__blurb {
  margin-top: $gutter-half;
  a {
    font-weight: 600;
    text-decoration: underline;
  }
}
